* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100vw;
    background-image: linear-gradient(
        rgb(19, 42, 248) 0%,
        rgb(4, 2, 105) 100%
    );
    text-align: center;
    color: white;
}

#current-date {
    padding-left: 15px;
}

.container {
    margin: 0;
    max-width: 100%;
}

.small-card {
    background-image: linear-gradient(
        rgb(19, 42, 248) 0%,
        rgb(4, 2, 105) 100%
    );
    color: white;
}

.add-space {
    margin-bottom: 15px;
}

.uv-index {
    box-sizing: border-box;
    padding: 0px 15px;
    border-radius: 5px;
    text-align: center;
}

.btn-search {
    background-color: rgb(2, 2, 192);
    color: white;
}

.today {
    display: flex;
    flex-direction: row;
    align-items: flex-center;
}

.col {
    padding: 15px;
}